h1{
    text-align: center;
    color: palevioletred;
}

p{
    text-decoration-line: underline;
    color: gray;
    text-align: center;
}

img{
    padding: 40px 40px;
    margin: 20px 20px;
    height: 320px;
    width: 320px;
}